html, body, #root, .container-fluid, .row {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box1, .edbox, .devbox, .sidebox {
  border: 1px solid #000000;
}

.box1 {
  background-color: #7c6a0a;
  font-size: 60px;
}

.devbox { 
  background-color: #ffdfce;
}

.edbox {
  background-color: #c88a36;
}

.sidebox {
  background-color: #7c6a0a;
}